@model OKAY.Property.MVC.Models.Property

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bedroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bedroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leasePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
